<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buzzvil.buzzscreen.sample_lock">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>

        <activity
            android:name=".CustomLockerActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="${applicationId}.Locker" />

        <!-- Configuration for BuzzScreen-->
        <!--Replace <app_license> with a new value provided by your account manager.
         This valude should be different from the original M app.-->
        <!--Replace <plist> with with a new value provided by your account manager.
         This valude should be different from the original M app.-->
        <!-- <app_license> 를 기존 M앱과 다른 새로운 값으로 교체합니다. -->
        <!-- <plist> 를 기존 M앱과 다른 새로운 값으로 교체합니다. -->
        <meta-data
            android:name="app_license"
            android:value="<app_license>" />
        <meta-data
            android:name="com.buzzvil.locker.mediation.baidu.plist"
            android:value="<plist>" />
    </application>

</manifest>