<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.buzzvil.buzzad.benefit.sample.publisher">

    <uses-sdk tools:overrideLibrary="com.google.android.exoplayer2.core,
            com.google.android.exoplayer2.ext.ima,
            com.google.android.exoplayer2.source.hls,
            com.google.android.exoplayer2.ui" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WebToFeedActivity" />
        <activity android:name=".FeedEntryPointActivity" />
        <!-- Caution: Replace `000000000000000` with Your AppKey  -->
        <meta-data
            android:name="com.buzzvil.APP_KEY"
            android:value="app-pub-000000000000000" />
    </application>
</manifest>
